{% extends "layout.html" %}
{% block content %}

<h2>Tee uusi retkeilypaikka</h2>

<form action="/add" method="post">

<p>Retkeilypaikan nimi:<br>
<input type="text" name="name" minlength="1" maxlength="50"></p>

<p>Retkeilypaikan kuvaus:<br>
<textarea name="description" rows="8" cols="40" maxlength="100000">

</textarea></p>
Valitse (yksi) retkeilypaikan sijainti: <br>
<input type="radio" name="location_id" value="1" checked> Lappi
<input type="radio" name="location_id" value="2"> Oulu
<input type="radio" name="location_id" value="3"> Länsi-Suomi
<input type="radio" name="location_id" value="4"> Itä-Suomi
<input type="radio" name="location_id" value="5"> Etelä-Suomi
<input type="radio" name="location_id" value="6"> Uusimaa

</textarea></p>
Valitse (yksi tai useampi) sopiva ryhmä: <br>
<input type="checkbox" name="group_id" value="1"> Retkeilyaluekohde
<input type="checkbox" name="group_id" value="2"> Erämaa-aluekohde
<input type="checkbox" name="group_id" value="3"> Kansallispuistokohde
<input type="checkbox" name="group_id" value="4"> Aktiviteettikohde
<input type="checkbox" name="group_id" value="5"> Kalastuskohde
<input type="checkbox" name="group_id" value="6"> Historiakohde

</textarea></p>
Valitse (yksi tai useampi) palvelu: <br>
<input type="checkbox" name="service_id" value="5"> Kuivakäymälä
<input type="checkbox" name="service_id" value="6"> Vesivessat
<input type="checkbox" name="service_id" value="7"> Suihkut
<input type="checkbox" name="service_id" value="8"> Tulentekopaikka(avoin)
<input type="checkbox" name="service_id" value="9"> Tulentekopaikka(suljettu)
<input type="checkbox" name="service_id" value="10"> Pyörätuolille sopiva
<input type="checkbox" name="service_id" value="11"> Lapsille tekemistä
<input type="checkbox" name="service_id" value="12"> Pyörälle sopiva
<input type="checkbox" name="service_id" value="13"> Vesipiste
<input type="checkbox" name="service_id" value="14"> Vesistö lähellä
<input type="checkbox" name="service_id" value="15"> Kahvila/ravintola

</textarea></p>

<input type="submit" value="Lähetä">
<input type="hidden" name="place_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>


{% endblock %}
