{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<body>
<h2>Etusivu</h2>
Tervetuloa luontoretkeilysovellukseen!
<p></p>
{% if session.user_id %}
Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b>. 
<p></p>
Haluatko selailla retkeilykohteita?
<p></p> <a href="/mainpage">Tutki retkeilykohteita nimellä</a>
<p></p>
</p> <a href="/locations">Tutki retkeilykohteita alueittain</a>
<p></p>
</p> <a href="/groups">Tutki retkeilykohteita ryhmittäin</a>
<p></p>
<top_5>
</p> <a href="/reviews">Top 5 retkeilykohteet</a>
</top_5>
<p></p>
<h3>Hae kohteita hakusanalla:</h3>
<form action="/result" method="GET">
Sana: <input type="text" name="query">
<br>
<p></p>
<input type="submit" value="Hae">
</form>
<p></p>
<form_search>
<h3>Hae kohteita palveluiden perusteella:</h3>
<form action="/result_services" method="GET">
</textarea></p>
Valitse (yksi tai useampi) palvelu: <br>
<input type="checkbox" name="service_id" value="24"> Kuivakäymälä
<input type="checkbox" name="service_id" value="25"> Vesivessat
<input type="checkbox" name="service_id" value="26"> Suihkut
<input type="checkbox" name="service_id" value="27"> Tulentekopaikka(avoin)
<input type="checkbox" name="service_id" value="28"> Tulentekopaikka(suljettu)
<input type="checkbox" name="service_id" value="29"> Pyörätuolille sopiva
<input type="checkbox" name="service_id" value="30"> Lapsille tekemistä
<input type="checkbox" name="service_id" value="31"> Pyörälle sopiva
<input type="checkbox" name="service_id" value="32"> Vesipiste
<input type="checkbox" name="service_id" value="33"> Vesistö lähellä
<input type="checkbox" name="service_id" value="34"> Kahvila/ravintola
<br>
<p></p>
<input type="submit" value="Hae">
</form>
</form_search>
<p></p>
{% if session.user_role == 2 %}
<h4>Admin toiminnot:</h4>
<p> <a href="/add">Luo uusi retkeilypaikka</a>
<p> <a href="/remove">Poista retkeilypaikka</a>

{% endif %}

{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}
</body>

{% endblock %}
