{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<body>
<h2>Tervetuloa luontoretkeilysovellukseen!</h2>
<p></p>
{% if session.user_id %}
Olet kirjautunut sisään 
<p></p>
<nav>
    <ul>
        <li> <a href="/mainpage">Tutki retkeilykohteita nimellä</a></li>
		<li> <a href="/locations">Tutki retkeilykohteita alueittain</a></li>
		<li> <a href="/groups">Tutki retkeilykohteita ryhmittäin</a></li>
		<li> <a href="/reviews">Top 5 retkeilykohteet</a></li>
	</ul>
</nav>
<p></p>
<p></p>
<h3>Hae kohteita hakusanalla:</h3>
<form action="/result" method="GET">
Sana: <input type="text" name="query">
<br>
<p></p>
<input type="submit" value="Hae">
</form>
<form_search>
<h3>Hae kohteita palveluiden perusteella:</h3>
<form action="/result_services" method="GET">
</textarea></p>
Valitse (yksi tai useampi) palvelu: <br>
<input type="checkbox" name="service_id" value=5> Kuivakäymälä
<input type="checkbox" name="service_id" value=6> Vesivessat
<input type="checkbox" name="service_id" value=7> Suihkut
<input type="checkbox" name="service_id" value=8> Tulentekopaikka(avoin)
<input type="checkbox" name="service_id" value=9> Tulentekopaikka(suljettu)
<input type="checkbox" name="service_id" value=10> Pyörätuolille sopiva
<input type="checkbox" name="service_id" value=11> Lapsille tekemistä
<input type="checkbox" name="service_id" value=12> Pyörälle sopiva
<input type="checkbox" name="service_id" value=13> Vesipiste
<input type="checkbox" name="service_id" value=14> Vesistö lähellä
<input type="checkbox" name="service_id" value=15> Kahvila/ravintola
<br>
<p></p>
<input type="submit" value="Hae">
</form>
</form_search>
<p></p>
{% if session.user_role == 2 %}
<h4>Admin toiminnot:</h4>
<nav>
	<ul>
		<li><a href="/add">Luo uusi retkeilypaikka</a></li>
		<li><a href="/remove">Poista retkeilypaikka</a></li>
	</ul>
</nav>

{% endif %}

{% else %}
Et ole kirjautunut sisään. 
<nav>
	<ul>
		<li><a href="/login">Kirjaudu sisään</a></li>
	</ul>
</nav>
{% endif %}
</body>

{% endblock %}
