{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<body>
<h2>Tervetuloa luontoretkeilysovellukseen!</h2>
<p></p>
{% if session.user_id %}
Olet kirjautunut sisään 
<p></p>
<nav>
    <ul>
        <li> <a href="/mainpage">Tutki retkeilykohteita nimellä</a></li>
		<li> <a href="/locations">Tutki retkeilykohteita alueittain</a></li>
		<li> <a href="/groups">Tutki retkeilykohteita ryhmittäin</a></li>
		<li> <a href="/reviews">Top 5 retkeilykohteet</a></li>
	</ul>
</nav>
<p></p>
<p></p>
<h3>Hae kohteita hakusanalla:</h3>
<form action="/result" method="GET">
Sana: <input type="text" name="query">
<br>
<p></p>
<input type="submit" value="Hae">
</form>
<p></p>
{% if session.user_role == 2 %}
<h4>Admin toiminnot:</h4>
<nav>
	<ul>
		<li><a href="/add">Luo uusi retkeilypaikka</a></li>
		<li><a href="/remove">Poista retkeilypaikka</a></li>
	</ul>
</nav>

{% endif %}

{% else %}
Et ole kirjautunut sisään. 
<nav>
	<ul>
		<li><a href="/login">Kirjaudu sisään</a></li>
	</ul>
</nav>
{% endif %}
</body>

{% endblock %}
